@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monaspace Neon Regular";
  src: url("./assets/monaspace-neon-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Neuebit Bold";
  src: url("./assets/neuebit-bold.woff2") format("woff2");
}
